body 
{
    position: relative;
    width: 100%;
    margin: 0 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-image: url("../images/photos/glacier.jpg");
    background-repeat: no-repeat;
}

header
{
    margin: 0 0;
    z-index: 10;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgb(55,55,55);
    color: white;
}
header a 
{
    color: white;
}
nav
{
    font-size: 1.01em;
    height: 100%;
}
nav ul
{
    margin: 0 0;
    height: 100%;
    display: flex;
    list-style-type: none;
}
nav li
{
    padding: 0 20px;
    display: flex;
    align-items: center;
}

nav a
{
    text-decoration: none;
    color: white;
}
nav a:hover
{
    color: lightblue;
}

#content 
{
    position: relative;
    top: 60px;
    margin-bottom: 12%;
}

footer ul
{
    list-style-type: none;
}
footer li
{
    padding: 0 10px;
    display: inline;
}
footer a
{
    color: rgb(150,220,240);
}
footer a:hover
{
    color: rgb(70,180,220);
}

#links 
{
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(66,66,66);
    color: white;
}

#legal
{
    height: 60px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(55,55,55);
    color: white;
}

h1, h2, h3, h4
{
    text-align:center;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
}
h1
{
    font-size: 4em;
    text-transform: uppercase;
}
h2
{
    font-size: 2.6em;
}
h3
{
    font-size: 2em;
}
h4
{
    font-size: 1.5em;
    text-transform: uppercase;
}
.titles, .title
{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title a, .episode a, .home-episode a
{
    color: rgb(24,24,24);
}
.title a:hover
{
    text-decoration-line: underline;
    color: rgb(55,55,55);
}
.episode a:hover, .home-episode a:hover
{
    text-decoration-line: underline;
    color: rgb(24,144,192);
}

.title
{
    height: 300px;
}

/* ------ POST - LISTPOSTS VIEW ------ */

.episode, #comment-section
{
    width: 60%;
    margin: 8px 18%;
    padding: 2%;
    border: 1px solid black;
    border-radius: 10%;
    background-color: rgba(240,240,240, 0.8);
    font-size: 1.1em;
}
.episode em 
{
    font-size: 0.9em;
}

.episode-title
{
    text-align: center;
}

a
{
    text-decoration: none;
    color: blue;
}
#comment-section
{
    text-align:center;
}
#comment-section form
{
    text-align:center;
}

.paging
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1%;
    margin: 1%;
    border: 1px solid black;
    border-radius: 2%;
}
.current-page, .other-pages
{
    font-weight: bold;
    margin: 0 2px;
}
.other-pages
{
    text-decoration: underline;
}

.comment-list
{
    width: 70%;
    margin: 6px 13%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 2%;
    background-color: rgba(240,240,240, 0.8);
}
.comment
{
    width: 90%;
    margin: 6px 0 6px 0;
    padding: 4px 4px;
    border: 1px solid black;
    border-radius: 2%;
    background-color: rgba(240,240,240, 0.9);
    font-size: 1em;
}
.comment a { color: rgb(80,100,240); }
.comment a:hover { text-decoration: underline; color: rgb(0,0,180); }
.comment p
{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
.link-update, .link-report
{
    width: 99%;
    text-align: right;
    text-decoration: underline;
}
.link-report a { color: red; }
.link-report a:hover, .link-update a:hover { font-weight: bold; color: rgb(80,40,40); }
/* ------ HOME VIEW ------ */

.separation
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.line
{
    width: 120px;
    height: 4px;
    background-color: black;
}
.separation p
{
    font-size: 3em;
    color: black;
}
.home-about
{
    height: 600px;
    width: 100%;
    padding: 1%;
    border: 1px solid black;
    background-color: rgba(24,72,144, 0.9);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}
.home-about-img
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}
.home-about-text
{
    width: 30%;
    margin: 0 40px;
    font-size: 1.1em;
    text-align: justify;
}

.home-about img
{
    max-width: 300px;
    border: 1px solid white;
    border-radius: 50%;
    margin-bottom: 20px;
}

.home-episode
{
    width: 80%;
    margin: 0 9%;
    padding: 1%;
    border: 1px solid black;
    border-radius: 10%;
    background-color: rgba(240,240,240, 0.8);
    font-size: 1.1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.h-episode
{
    width: 40%;
    margin: 5%;
    padding: 1%;
    border: 1px solid black;
    border-radius: 10%;
    background-color: rgba(240,240,240, 0.8);
    font-size: 1.1em;
}
/* ------ ABOUT VIEW ------ */

.about
{
    width: 80%;
    margin: 10px 9%;
    padding: 1%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(240,240,240, 0.8);
    border-radius: 5%;
    background-color: rgba(240,240,240, 0.8);
    font-size: 1.1em;
}
.about img
{
    height: 800px;
    border: 1px solid black;
    border-radius: 5%;
}
.about-text
{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    text-align: justify;
}

/* ------ ERROR VIEW ------ */

.error-div
{
    height: 600px;
    width: 70%;
    margin: 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(250,250,250, 0.9);
    border: 1px solid black;
    border-radius: 4%;
}
.error-div img
{
    width: 200px;
}
.error-div p
{
    color: rgb(120,24,24);
    font-size: 2.5em;
    font-weight: bold;
}
/* ------ CONTACT VIEW ------ */

.contact-form
{
    height: 500px;
    width: 30%;
    margin: 10px 34%;
    padding: 1%;
    border: 1px solid black;
    border-radius: 2%;
    background-color: rgba(250,250,250, 0.9);
    font-size: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* ------ REGISTER VIEW ------ */

.connect-forms
{
    height: 700px;
    width: 80%;
    margin: 0 10%;
    padding: 0;
    border: 2px solid black;
    border-radius: 2%;
    background-color: rgba(250,250,250, 0.9);
    font-size: 1.4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.register-form, .login-form
{
    height: 500px;
    width: 40%;
    margin: 0 5%;
    padding: 0;
    border: 1px solid black;
    border-radius: 2%;
    background-color: rgba(240,240,240, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.register-form h4, .login-form h4
{
    color: rgb(70,180,220);
}
.register-form form, .login-form form
{
    width: 320px;
}
.contact-form input, .register-form input, .login-form input
{
    margin: 5%;
}

.inputs
{
    width: 80%;
    margin: 0 20%;
}
.submit
{
    display: flex;
    justify-content: center;
    transform: scale(1.4);
}
/* ------ PROFILE VIEW ------ */

.user-profile
{
    height: 300px;
    width : 70%;
    margin: 2% 15%;
    padding: 0;
    border: 2px solid black;
    border-radius: 2%;
    background-color: rgba(240,240,240, 0.8);
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.user-comments
{
    width: 80%;
    margin: 2% 8%;
    padding: 1%;
    border: 1px solid black;
    border-radius: 2%;
    background-color: rgba(240,240,240, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.line-comment
{
    width: 100%;
    height: 2px;
    background-color: lightblue;
}
.edit-profile
{
    height: 200px;
    width: 70%;
    margin: 2% 13%;
    padding: 1%;
    border: 1px solid black;
    border-radius: 2%;
    background-color: rgba(240,240,240, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.edit-password
{
    height: 250px;
}
.edit-inputs
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ------ UPDATE COMMENT VIEW ------ */
.update-comment
{
    height: 500px;
    width: 40%;
    margin: 0 30%;
    padding: 0;
    border: 1px solid black;
    border-radius: 2%;
    background-color: rgba(240,240,240, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
}
.update-comment form
{
    width: 100%;
    text-align: center;
}
/* ------ ------ ------ ------ ADMIN VIEW ------ ------ ------ ------ */
.admin-link a
{
    color: rgb(150,220,240);
}
.admin-link a:hover
{
    color: rgb(60,170,210);
}
.user-management, .post-management, .comment-management, .new-post
{
    width: 70%;
    margin: 1% 13%;
    padding: 1%;
    border: 1px solid black;
    border-radius: 2%;
    background-color: rgba(240,240,240, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
.user-management a, .post-management a, .comment-management a, .new-post a
{
    font-weight: bold;
    color: rgb(60,120,180);
}
.user-management a:hover, .post-management a:hover, .comment-management a:hover, .new-post a:hover
{
    text-decoration: underline;
    color: rgb(40,80,120);
}

/* ------ USER MANAGEMENT VIEW ------ */
#user-management
{
    position: relative;
    width: 70%;
    margin: 0 13%;
    padding: 1%;
    border: 1px solid black;
    border-radius: 2%;
    background-color: rgba(240,240,240, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}
.user-data
{
    position: relative;
    width: 50%;
    background-color: rgba(250,250,250, 1);
    border: 1px solid black;
    border-radius: 2%;
    margin: 8px 0;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.user-data p
{
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
.big
{
    font-weight: bold;
    font-size: 1.2em;
}
.user-not-blocked, .user-blocked, .user-is-admin 
{
    width: 100px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 101%;
    border: 1px solid black;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.user-is-admin a, .user-not-blocked a, .user-blocked a
{
    font-weight: bold;
}
.user-is-admin a:hover, .user-not-blocked a:hover, .user-blocked a:hover
{
    text-decoration: underline;
}
.user-is-admin { background-color: rgb(105,255,105); }
.user-is-admin a { color: rgb(120,120,240); }
.user-is-admin a:hover { color: rgb(24,24,120); }

.user-not-blocked { background-color: rgba(220,220,255, 0.8); }
.user-not-blocked a { color: rgb(96,24,24); }
.user-not-blocked a:hover { color: rgb(192,24,24); }

.user-blocked { background-color: rgba(255,180,180, 0.8); }
.user-blocked a { color: rgb(24,24,96); }
.user-blocked a:hover { color: rgb(24,48,192); }

/* ------ NEW POST VIEW ------ */
.title-newPostView h1
{
    font-size: 2.4em;
}
.title-newPostView h2
{
    font-size: 1.8em;
}
.create-new-post
{
    width: 80%;
    margin: 2% 8%;
    padding: 1%;
    border: 1px solid black;
    border-radius: 2%;
    background-color: rgba(250,250,250, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.create-new-post form
{
    width: 90%;
}
.create-new-post input
{
    margin-bottom: 6px;
}
/* ------ POST MANAGEMENT VIEW + COMMENT MANAGEMENT VIEW ------ */
#post-management, #comment-management, #reported-comment-manage
{
    width: 70%;
    margin: 0 13% 2% 13%;
    padding: 1%;
    border: 1px solid black;
    border-radius: 2%;
    background-color: rgba(250,250,250, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post-admin-list, .comment-admin-list
{
    width: 90%;
    margin-bottom: 8px;
    border: 1px solid black;
    border-radius: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.comment-admin-list /* https://colorzilla.com/gradient-editor */
{
    justify-content: space-between;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.comment-admin-list p
{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
.admin-comment
{
    padding: 2px;
}
.comment-block, .comment-unblock
{
    margin: 4px 8px;
    padding: 0;
    min-width: 64px;
    min-height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgb(240,160,160);
}
.comment-block a, .comment-unblock a 
{
    color: black;
    font-size: 0.8em;
}
.comment-block a:hover, .comment-unblock a:hover
{
    text-decoration: underline;
    font-weight: bold;
}
.comment-block:hover { background-color: rgb(240,60,60); }
.comment-unblock { background-color: rgb(140,190,240); }
.comment-unblock:hover { background-color: rgb(100,240,120); }

.c-blocked /* https://colorzilla.com/gradient-editor */
{
    background: -moz-linear-gradient(top, rgba(235,241,246,1) 0%, rgba(171,211,238,1) 50%, rgba(137,195,235,1) 51%, rgba(213,235,251,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.reported /* https://colorzilla.com/gradient-editor */
{
    background: -moz-linear-gradient(-45deg, rgba(188,37,40,1) 17%, rgba(188,37,40,1) 24%, rgba(188,37,40,0.58) 56%, rgba(117,23,25,0.34) 74%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(188,37,40,1) 17%,rgba(188,37,40,1) 24%,rgba(188,37,40,0.58) 56%,rgba(117,23,25,0.34) 74%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(188,37,40,1) 17%,rgba(188,37,40,1) 24%,rgba(188,37,40,0.58) 56%,rgba(117,23,25,0.34) 74%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.small-post 
{
    width: 70%;
    padding: 2%;
}
.post-manage
{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.post-admin-list /* https://colorzilla.com/gradient-editor */
{
    background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.post-edit, .post-delete, .post-link 
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 80px;
    min-height: 80px;
    max-width: 80px;
    max-height: 80px;
    margin: 2px 0;
    border: 1px solid black;
    border-radius: 50%;
}
.post-edit a, .post-delete a, .post-link a
{
    color: rgb(24,24,24);
}
.post-edit a:hover, .post-delete a:hover, .post-link a:hover
{
    font-weight: bold;
    color: rgb(180,40,40);
}
.post-link 
{
    background-color: rgb(180,240,180);
}
.post-edit
{
    background-color: rgb(200,200,255);
}
.post-delete
{
    background-color: rgb(200,140,140);
}

/* ------ SCROLL BUTTON ------ */
a#b-Back
{
    border-radius:3px;
    padding:20px;
    font-size:15px;
    text-align:center;
    color:#fff;
    background:rgba(24,24,24, 0.9);
    position:fixed;
    right:20px;
    opacity:1;
    z-index:99999;
    transition:all ease-in 0.2s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-decoration: none;
}
a#b-Back:before
{
    content: "\25b2";
}
a#b-Back:hover
{
    background:rgba(0, 0, 0, 1);
    transition:all ease-in 0.2s;
}
a#b-Back.b-Hidden
{
    bottom:-35px;
    opacity:0;
    transition:all ease-in 0.5s;
}

a#b-Back.b-Visible
{
    bottom:20px;
    opacity:1;
}

/* ------ SNOW ANIMATION ------ */

.snowflake
{
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall
{
    0%
    {top:-10%}
    100%
    {top:100%}
}
@-webkit-keyframes snowflakes-shake
{
    0%
    {-webkit-transform:translateX(0px);transform:translateX(0px)}
    50%
    {-webkit-transform:translateX(80px);transform:translateX(80px)}
    100%
    {-webkit-transform:translateX(0px);transform:translateX(0px)}
}
@keyframes snowflakes-fall
{
    0%
    {top:-10%}
    100%
    {top:100%}
}
@keyframes snowflakes-shake
{
    0%
    {transform:translateX(0px)}
    50%
    {transform:translateX(80px)}
    100%
    {transform:translateX(0px)}
}

.snowflake
{
    position:fixed;
    top:-10%;
    z-index:999;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
    -webkit-animation-name:snowflakes-fall,snowflakes-shake;
    -webkit-animation-duration:10s,3s;
    -webkit-animation-timing-function:linear,ease-in-out;
    -webkit-animation-iteration-count:infinite,infinite;
    -webkit-animation-play-state:running,running;
    animation-name:snowflakes-fall,snowflakes-shake;
    animation-duration:10s,3s;
    animation-timing-function:linear,ease-in-out;
    animation-iteration-count:infinite,infinite;
    animation-play-state:running,running
}

.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}
.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}
.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}
.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}
.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}
.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}
.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}
.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}
.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}
.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}